

<div class="row">
    <div class="col-6">
        
        <app-dona 
            [valorDona] = "valorDona1"
            [title]="title1"
            [labels]="labels1">            
        </app-dona>

    </div>

    <div class="col-6">
        
        <app-dona 
            [valorDona] = "valorDona2"
            [title]="title2"
            [labels]="labels2">
        </app-dona>

    </div>

    <div class="col-6">
        
        <app-dona 
            [valorDona] = "valorDona3"
            [title]="title3"
            [labels]="labels3">
        </app-dona>

    </div>

    <div class="col-6">
        
        <app-dona
            [valorDona] = "valorDona4"
            [title]="title4"
            [labels]="labels4">
        </app-dona>

    </div>
</div>
