<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                       class="form-control"
                       placeholder="Buscar usuario..."
                       (keyup)="buscar( txtValor.value )"
                       #txtValor>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>


<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios ({{ totalUsuarios }})</h4>
                <h6 class="card-subtitle">Usuarios registrados en la applicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th class="w140">Role</th>
                                <th class="w100">Auth</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let usuario of usuarios">
                            <tr>
                                <td class="w100 text-center">
                                    <img [src]="usuario.imgUrl"
                                         class="avatar"
                                         alt="Imagen del usuario"
                                         (click)="verModal( usuario )">
                                </td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="usuario.role" (change)="guardarRole( usuario )">
                                        <option value="USER_ROLE">User</option>
                                        <option value="ADMIN_ROLE">Admin</option>
                                    </select>
                                </td>
                                <td class="w100 text-center">
                                    <span *ngIf="usuario.google" class="label label-danger">Google</span>
                                    <span *ngIf="!usuario.google" class="label label-info">Email</span>
                                </td>
                                <td class="text-nowrap w100 text-center" *ngIf=" usuario._id != uidLogeado">
                                    <a (click)="eliminarUsuario( usuario )"
                                       data-toggle="tooltip"
                                       data-original-title="Close"
                                       class="cursor"
                                        >
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtValor.value.length === 0">
                    <button class="btn btn-secundary" (click)="cambiarPagina(-5)">Anterior</button>
                    &nbsp;
                    <button class="btn btn-secundary" (click)="cambiarPagina(5)">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>